body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
}

.container {
  background: rgba(17, 16, 16, 0.6);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 30px;
  width: 420px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0,255,255,0.2);
}

h2 {
  color: #00ffe0;
  text-shadow: 0 0 10px #00ffe0;
  margin-bottom: 20px;
}

.expense-form input, .expense-form select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(219, 224, 224, 0.19);
  color: #29e6ff;
}

.expense-form input::placeholder { color: #ccc; }

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(45deg, #ff6f61, #ffde59);
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover { transform: scale(1.05); }

.expense-list {
  margin-top: 20px;
  max-height: 220px;
  overflow-y: auto;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  background: rgba(0,0,0,0.3);
  border-left: 6px solid #00ffe0;
  animation: slideIn 0.4s ease;
}

.expense-item span.delete-btn {
  cursor: pointer;
  color: #ff4d6d;
  font-weight: bold;
}

@keyframes slideIn {
  from { opacity: 0; transform: translateX(-50px);}
  to { opacity: 1; transform: translateX(0);}
}

.total {
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.1rem;
}

.chart-box {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 150px;
  padding: 0 5px;
}

.chart-bar {
  width: 25px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 0.5s;
}

footer {
  margin-top: 25px;
  font-size: 0.85rem;
}

.footer-link {
  text-decoration: underline;
  cursor: pointer;
  color: #00ffe0;
}
